<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="../../../assets/img/user.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{userInfo.firstname}} {{userInfo.lastname}}</h4>
                        
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{userInfo.email}}
                            <br />
                            <i class="fa fa-phone" aria-hidden="true">{{userInfo.phone}}</i>
                            </p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>